<!DOCTYPE html>
<html lang="ar" dir="rtl">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../output.css" rel="stylesheet" />
    <style>
    @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Reem+Kufi:wght@400..700&display=swap");
  </style>
  </head>
  <style>
  #app {
    font-family: "Cairo", sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../../img/مدينة-صنعاء.jpg");
    background-repeat: no-repeat;
    background-size: cover;

  }
</style>

  <body>
    <!-- section 1 -->

<div class="w-full h-screen flex flex-col">

    <div id="app" class="w-full h-24">
        <!-- Header -->
        <div
          class="w-full h-[60px] flex flex-row justify-between px-[40px] items-center">
          <div class="flex items-center mt-7">
            <img src="../../img/Group 1171275883.svg" width="80" alt />
            <h5 class="text-[16px] text-white font-bold mr-[10px]">
              صنعاني للرحلات
            </h5>
          </div>
  
          <div
            class="flex items-center justify-around text-black text-[14px] font-bold bg-[#d4d3d2] h-full mb-5 rounded-b-3xl w-1/2 -roun">
            <a href>الرئيسية</a>
            <a href>رحلات</a>
            <a href>عنا</a>
            <a href>تواصل معنا</a>
          </div>
  
          <a href="./Register.html"
            class="text-[14px] px-4 py-1 text-white border border-white rounded-2xl">تسجيل
            الخروج</a>
        </div>
      </div>
  
  

  
          
          <div class="flex flex-row h-full ">


            <!-- Sidebar -->
            <div class="w-[20%]  mx-[15px] h-[95%] mt-[10px]  flex-col bg-[#A2A1A80D]"> 

              <div class="flex flex-col items-center pl-4 w-full"> 
          
                <div class="mt-3 mb-3 text-[#7152F3]">
                  <h5 >لوحة التحكم</h5>
                </div>
              
          
              <div class="bg-[#7152F30D] flex flex-row h-10 border-l-[6px] border-[#7152F3] text-[#7152F3] gap-4  items-center justify-end w-[80%] mb-14">
              <h5 class="">Dashboard</h5>
          
          
              <img src="../../img/icons/apps.svg" width="24"  class="pl-1"/>
          
          
          
              </div>
          
          
              </div>
          
          
          
          
          
          
              <div class="flex flex-col items-center pl-4 w-full"> 
          
          
              
          
              <div class="flex flex-row h-10  gap-2    justify-start w-[80%]">
                <div class="border-l-[2px] border-[#000000]"></div>
                <img src="../../img/icons/icons8_luggage_trolley_48px_3 2.svg" width="24"  />
                <div class="border-l-[2px] border-[#000000]"></div>
                <a href="#" class="text-[#07002c] font-bold text-[16px]">ادارة الرحلات</a>
              </div>
          
          
              <div class=" flex flex-row h-10  gap-2    justify-start w-[80%]">
                  <div class="border-l-[2px] border-[#000000]"></div>
                  <img src="../../img/icons/icons8_Steering_Wheel_128px 1.svg" width="24"/>
                  <div class="border-l-[2px] border-[#000000]"></div>
                  <a href="#" class="text-[#07002c] font-bold text-[16px]">ادارة السواقين</a>
              </div>
          
          
          
                    <div class=" flex flex-row h-10  gap-2    justify-start w-[80%]">
                      <div class="border-l-[2px] border-[#000000]"></div>
                          <img src="../../img/icons/icons8_Bus_128px 1.svg" width="24"  />
                      <div class="border-l-[2px] border-[#000000]"></div>
                      <a href="#" class="text-[#07002c] font-bold text-[16px]">ادارة المركبات</a>
                          </div>
          
                          <div class=" flex flex-row h-10  gap-2   justify-start w-[80%]">
                            <div class="border-l-[2px] border-[#000000]"></div>
                                <img src="../../img/icons/icons8_collaborator_male_52px 1.svg" width="24"  />
                            <div class="border-l-[2px] border-[#000000]"></div>
                            <a href="#" class="text-[#07002c] font-bold text-[16px]">ادارة الموظفين</a>
                                </div>
          
                                <div class=" flex flex-row h-10  gap-2    justify-start w-[80%]">
                                  <div class="border-l-[2px] border-[#000000]"></div>
                                      <img src="../../img/icons/icons8_traveler_48px 1.svg" width="24"  />
                                  <div class="border-l-[2px] border-[#000000]"></div>
                                  <a href="#" class="text-[#07002c] font-bold text-[16px]">ادارة المسافرين</a>
                                      </div>
          
                                      <div class=" flex flex-row h-10  gap-2    justify-start w-[80%]">
                                        <div class="border-l-[2px] border-[#000000]"></div>
                                            <img src="../../img/icons/icons8_cheque_100px 1.svg" width="24"  />
                                        <div class="border-l-[2px] border-[#000000]"></div>
                                        <a href="#" class="text-[#07002c] font-bold text-[16px]">ادارة الفواتير</a>
                                            </div>
          
                                            <div class=" flex flex-row h-10  gap-2    justify-start w-[80%]">
                                              <div class="border-l-[2px] border-[#000000]"></div>
                                                  <img src="../../img/icons/icons8_edit_pie_chart_report_100px_1 1.svg" width="24"  />
                                              <div class="border-l-[2px] border-[#000000]"></div>
                                              <a href="#" class="text-[#07002c] font-bold text-[16px]"> التقارير</a>
                                                  </div>
              </div>
          
            </div>
            <!-- Sidebar End -->































          
              <div class="flex flex-col w-[80%] h-[100%]">

              <div class=" flex-col  h-[30%] mt-7">
                    
                <!-- Card  -->
                <div class="flex flex-row">



                  
                  

                  <div
                  class="w-fit h-[130px] bg-[#4278FF] rounded-2xl px-4 py-8 flex justify-between items-center  mx-auto">
                  
                  
                  
                  <div
                    class="flex flex-col gap-[5px] justify-start text-[#ffffff] border-l-[1px] border-[#FFFFFF] px-[8px] ">
                    <h5 class="">السنة</h5>
                    <h5 class="font-bold text-[20px] mt-0">123147</h5>
                
                
                    <h5 class="">اليومي</h5>
                    <h5 class="font-bold text-[20px]">10012</h5>
                  
                  
                  

                  
                  
                  
                  </div>
                  
                  <div class="flex flex-col gap-[5px] px-[8px] items-center">
                    <img src="../../img/icons/icons8_money_60px 1.svg" width="50" />
                    <h5 class="text-white font-bold">الدخل</h5>
                  </div>
                  
                  
                  
                  </div>
                  
                  
                  
                  
                  <div
                  class="w-fit h-[130px] bg-[#4278FF] rounded-2xl px-4 py-8 flex justify-between items-center  mx-auto">
                  
                  
                  <div
                    class="flex flex-col gap-[5px] justify-start text-[#ffffff] border-l-[1px] border-[#FFFFFF] px-[8px] ">
                    <h5 class="">اجمالي المركبات</h5>
                    <h5 class="font-bold text-[20px] mt-0">952225</h5>
                  
                  
                  
                    <div class="flex flex-row gap-[3px] justify-between">
                  
                      <div class="flex flex-col items-center">
                        <h5 class="text-[12px]">في الخدمة</h5>
                        <h5 class="font-bold text-[12px]">123</h5>
                      </div>
                  
                      <div class="flex flex-col items-center">
                        <h5 class="text-[12px]">العاطلة</h5>
                        <h5 class="font-bold text-[12px]">856</h5>
                      </div>
                    </div>
                  
                  
                  
                  </div>
                  
                  <div class="flex flex-col gap-[5px] px-[8px] items-center">
                      <img src="../../img/icons/icons8_bus_100px 1.svg" width="50" />
                      <h5 class="text-white font-bold">المركبات</h5>
                  </div>
                  
                  
                  
                  </div>



                  <div
class="w-fit h-[130px] bg-[#4278FF] rounded-2xl px-4 py-8 flex justify-between items-center  mx-auto">



<div
  class="flex flex-col gap-[5px] justify-start text-[#ffffff] border-l-[1px] border-[#FFFFFF] px-[8px] ">
  <h5 class="">العدد الكلي</h5>
  <h5 class="font-bold text-[20px] mt-0">952225</h5>



  <div class="flex flex-row gap-[3px] justify-between">

    <div class="flex flex-col items-center">
      <h5 class="text-[12px]">العاملين</h5>
      <h5 class="font-bold text-[12px]">123</h5>
    </div>

    <div class="flex flex-col items-center">
      <h5 class="text-[12px]">الموقوفين</h5>
      <h5 class="font-bold text-[12px]">856</h5>
    </div>
  </div>



</div>

<div class="flex flex-col gap-[5px] px-[8px] items-center">
    <img src="../../img/icons/icons8_driver_52px 1.svg" width="50" />
    <h5 class="text-white font-bold">السائقين</h5>
</div>



</div>








<div
class="w-fit h-[130px] bg-[#4278FF] rounded-2xl px-4 py-8 flex justify-between items-center  mx-auto">



<div
  class="flex flex-col gap-[5px] justify-start text-[#ffffff] border-l-[1px] border-[#FFFFFF] px-[8px] ">
  <h5 class=""> السنـــــة</h5>
  <h5 class="font-bold text-[20px] mt-0">952225</h5>



  <div class="flex flex-row gap-[3px] justify-between">

    <div class="flex flex-col items-center">
      <h5 class="text-[12px]">الاسبوع</h5>
      <h5 class="font-bold text-[12px]">123</h5>
    </div>

    <div class="flex flex-col items-center">
      <h5 class="text-[12px]">اليـــــوم</h5>
      <h5 class="font-bold text-[12px]">856</h5>
    </div>
  </div>



</div>

<div class="flex flex-col gap-[5px] px-[8px] items-center">
    <img src="../../img/icons/icons8_traveler_60px 1.svg" width="50" />
    <h5 class="text-white font-bold">المسافرين</h5>
</div>



</div>


                </div>
                 <!-- Card End -->





          
              </div>



              <div class=" flex-col  h-[70%]">


                <div class="flex flex-row items-center gap-2 mx-2">
                    <h1 class=" text-2xl font-bold ">ادارة السواقين</h1>
                    <div class="w-[80%] h-[5px] bg-[#F5F0F1] mt-4 rounded-lg"></div>

                </div>


                <div class="flex flex-row items-center gap-10 mx-7 my-4">


                    <button class="flex gap-[2px] border border-gray-300 items-center  py-2">
                        <h5 class="text-black  pr-2">filter</h5>
                        <img class="mr-[20px]" src="../../img/icons/filter.svg"
                          alt />
                      </button>



                      <button class="flex gap-[2px] bg-[#4278FF] mx-2 mt-3 mb-3 items-center  py-2 rounded-lg w-[170px]">
                        <h5 class="text-white  pr-2">اضافة سواق جديده</h5>
                        <img class="" src="../../img/icons/add-circle.svg"alt />  
                      </button>




                      <div
                      class="bg-[#F5F0F1] border border-gray-300 h-min flex  flex-row mx-auto py-2 px-7 rounded-3xl gap-3 items-center">
                      <input type="text" value="" class="mx-auto bg-[#F5F0F1]  px-7">
                      <h5 class="text-gray-300 w-[80px]">Search</h5>
                      <img src="../../img/icons/Icon1.svg" alt  />
                    </div>

                </div>
                
                <!-- table  -->
                <div>

                    <table class="min-w-full border bg-[#F5F0F1] border-[#F5F0F1] rounded-3xl overflow-hidden px-4">
                        <thead class="">
                            <tr class="bg-[#F5F0F1]">
                                <th class="px-4 py-2 text-right border-b border-[#000000]"></th>
                                <th class="px-4 py-2 text-right border-b border-[#000000]">الاسم</th>
                                <th class="px-4 py-2 text-right border-b border-[#000000]">الهاتف</th>
                                <th class="px-4 py-2 text-right border-b border-[#000000]">رقم البطاقة</th>
                                <th class="px-4 py-2 text-right border-b border-[#000000]">الجنس</th>
                                <th class="px-4 py-2 text-right border-b border-[#000000]">الجنسية</th>

                                <th class="px-4 py-2 text-center border-b border-[#000000]">العمليـــــــــــــات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="px-4 py-2 border-b border-[#F5F0F1]"><img src="../../img/SVG.svg" alt /></td>
                                <td class="px-4 py-2 border-b border-[#F5F0F1]">القيمة 2</td>
                                <td class="px-4 py-2 border-b border-[#F5F0F1]">القيمة 3</td>
                                <td class="px-4 py-2 border-b border-[#F5F0F1]">القيمة 1</td>
                                <td class="px-4 py-2 border-b border-[#F5F0F1]">القيمة 2</td>
                                <td class="px-4 py-2 border-b border-[#F5F0F1]">القيمة 3</td>

                                <td class="px-1 py-2 border-b border-[#F5F0F1] flex flex-row gap-2 justify-center">
                                    <button class="bg-[#4278FF]  text-[#16151C] rounded-lg w-[80px] flex items-center gap-1 justify-center"><img class="" src="../../img/icons/edit.svg"alt /><h6>تعديل</h6> </button>
                                        
                                    <button class="bg-[#FF424C]  text-[#16151C]  rounded-lg w-[80px] flex items-center gap-1 justify-center"><img class="" src="../../img/icons/Vector.svg"alt /><h6>حذف</h6> </button>
                                    <button class="bg-[#94FF42]  rounded-lg w-[80px] flex items-center gap-1 justify-center"><img class="" src="../../img/icons/view.svg"alt /></button>


                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
                <!-- table end  -->


      
                </div>

              </div>

          
          </div>
  
  
  






</div>





























  </body>

</html>