<!DOCTYPE html>
<html lang="ar" dir="rtl">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="../output.css" rel="stylesheet">
    </head>

    <body class="w-full">
        <!-- Header -->
        <div
            class="w-full h-[60px] flex flex-row justify-between bg-gray-700 px-[40px] items-center">
            <div class="flex items-center">
                <img src="./img/Group 1171275883.svg" width="25" alt>
                <h5 class="text-[15px] text-white font-bold mr-[10px]">صنعاني
                    للرحلات</h5>
            </div>

            <div
                class=" flex  items-center justify-around text-black text-[14px] font-bold bg-[#d4d3d2] h-full mb-5 rounded-b-3xl w-1/2 -roun">
                <a href>الرئيسية</a>
                <a href>رحلات</a>
                <a href>عنا</a>
                <a href>تواصل معنا</a>
            </div>

            <a href
                class="text-[14px] px-4 py-1 text-white border border-white rounded-2xl">تسجيل
                الخروج</a>
        </div>

        <!-- Content -->

        <div class="w-full mt-[30px]">
            <div
                class="w-2/3 h-[70vh] mx-auto flex flex-row justify-between border-2 border-[#3c487b] rounded-[24px]">
                <div class="flex-1">
                    <img src="../../img/Group 1171275883.svg" alt>
                </div>
                <div class="flex-1  flex flex-col justify-center items-center">
                    <h5 class="text-[20px] font-bold mb-[10px]">تسجيل
                        الدخول”موظف”</h5>
                    <div
                        class="w-full flex mr-[125px] flex-row gap-1 justify-start items-center">
                        <div
                            class=" bg-gradient-to-r from-[#8978f3] to-[#634def] w-[40px] h-[20px] flex justify-between rounded-xl px-1">
                            <img src="../../img/icons8_person_48px 1.svg" width="18"
                                alt>
                            <img src="../../img/icons8_user_shield_52px 1.svg"
                                width="14" alt>
                        </div>
                        <h5 class="text-[12px] text-[$#1c1c1c]">تسجيل دخول ك
                            ادمن</h5>

                    </div>

                    <!-- form -->
                    <form action
                        class="w-full flex flex-col items-center mt-[10px] gap-2 ">
                        <div
                            class="w-2/3 bg-[#f3f1ff] rounded-xl h-[30px] gap-2 flex flex-row items-center px-[20px]">
                            <img src="../../img/Frame.svg" width="20" alt>
                            <input type="text" name id
                                class="bg-transparent border-none focus:border-none text-[12px]"
                                placeholder="اسم المستخدم">
                        </div>
                        <div
                            class="w-2/3 bg-[#f3f1ff] rounded-xl h-[30px] gap-2 flex flex-row items-center px-[20px]">
                            <img src="../../img/Frame (3).svg" width="20" alt>
                            <input type="text" name id
                                class="bg-transparent border-none focus:border-none text-[12px]"
                                placeholder="كلمة المرور">
                        </div>

                        <button type="submit"
                            class=" bg-gradient-to-r from-[#8978f3] to-[#634def] w-[80px] h-[35px] flex  rounded-xl px-1 justify-center items-center text-[12px] text-white">دخول</button>

                    </form>
                </div>
            </div>

        </div>
    </body>

</html>